#include "windows.h"
#include "sttest.h"
 
#define IDC_STATIC -1

VELOCITY_CONTROL_DIALOG DIALOG 68, 0, 387, 80
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
{
 CONTROL "Break Settings", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 306, 21, 73, 56
 CONTROL "", -1, "Static", SS_ETCHEDHORZ, 67,18,25,1
 CONTROL "Accel", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 11,9,24,8
 CONTROL "Velocity", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 38,9,27,8
 CONTROL "Ending Pos.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 69, 0, 25, 16
 CONTROL "Vacuum Wait", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 93, 0, 30, 16
 CONTROL "Low Impact Command", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 125, 0, 26, 16
 CONTROL "Low Impact From Input", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 150, 0, 38, 16
 CONTROL "", ACCEL_1_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 18, 27, 10
 CONTROL "", VEL_1_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 38, 18, 27, 10
 CONTROL "", EP_1_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 18, 27, 10
 CONTROL "", VW_1_CHECKBOX, "Button", BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP, 103, 18, 10, 10
 CONTROL "", LI_1_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 123, 18, 27, 10
 CONTROL "", LIFI_1_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 161, 18, 10, 10
 CONTROL "", ACCEL_2_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 28, 27, 10
 CONTROL "", VEL_2_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 38, 28, 27, 10
 CONTROL "", EP_2_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 28, 27, 10
 CONTROL "", VW_2_CHECKBOX, "Button", BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP, 103, 28, 10, 10
 CONTROL "", LI_2_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 123, 28, 27, 10
 CONTROL "", LIFI_2_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 161, 28, 10, 10
 CONTROL "", ACCEL_3_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 38, 27, 10
 CONTROL "", VEL_3_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 38, 38, 27, 10
 CONTROL "", EP_3_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 38, 27, 10
 CONTROL "", VW_3_CHECKBOX, "Button", BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP, 103, 38, 10, 10
 CONTROL "", LI_3_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 123, 38, 27, 10
 CONTROL "", LIFI_3_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 161, 38, 10, 10
 CONTROL "", ACCEL_4_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 48, 27, 10
 CONTROL "", VEL_4_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 38, 48, 27, 10
 CONTROL "", EP_4_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 48, 27, 10
 CONTROL "", VW_4_CHECKBOX, "Button", BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP, 103, 49, 10, 10
 CONTROL "", LI_4_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 123, 48, 27, 10
 CONTROL "", LIFI_4_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 161, 49, 10, 10
 CONTROL "", ACCEL_5_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 58, 27, 10
 CONTROL "", VEL_5_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 38, 58, 27, 10
 CONTROL "", EP_5_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 58, 27, 10
 CONTROL "", VW_5_CHECKBOX, "Button", BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP, 103, 59, 10, 10
 CONTROL "", LI_5_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 123, 58, 27, 10
 CONTROL "", LIFI_5_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 161, 59, 10, 10
 CONTROL "", ACCEL_6_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 68, 27, 10
 CONTROL "", VEL_6_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 38, 68, 27, 10
 CONTROL "", EP_6_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 68, 27, 10
 CONTROL "", VW_6_CHECKBOX, "Button", BS_AUTOCHECKBOX | BS_MULTILINE |
WS_TABSTOP, 103, 69, 10, 10
 CONTROL "", LI_6_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 123, 68, 27, 10
 CONTROL "", LIFI_6_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 161, 69, 10, 10
 CONTROL "", LS1_NAME_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 182, 16, 68, 10
 CONTROL "", LS2_NAME_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 182, 27, 68, 10
 CONTROL "", LS3_NAME_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 182, 38, 68, 10
 CONTROL "", LS4_NAME_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 182, 49, 68, 10
 CONTROL "", LS5_NAME_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 182, 60, 68, 10
 CONTROL "", LS1_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 252, 16, 27, 10
 CONTROL "", LS2_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 252, 27, 27, 10
 CONTROL "", LS3_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 252, 38, 27, 10
 CONTROL "", LS4_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 252, 49, 27, 10
 CONTROL "", LS5_EDITBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 252, 60, 27, 10
 CONTROL "1.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 20, 8, 10
 CONTROL "2.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 30, 8, 10
 CONTROL "3.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 40, 8, 10
 CONTROL "4.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 50, 8, 10
 CONTROL "5.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 60, 8, 10
 CONTROL "6.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 69, 8, 10
 CONTROL "Limit Switch Positions", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 194, 4, 76, 8
 CONTROL "Fast Shot Start Position", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 187, 72, 92, 10
 CONTROL "Vel Loop Gain", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 302, 11, 48, 8
 CONTROL "Velocity", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 319, 29, 28, 8
 CONTROL "FTStop Pos.", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 302, 0, 48, 8
 CONTROL "1", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 311, 40, 5, 8
 CONTROL "2", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 311, 52, 5, 8
 CONTROL "3", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 311, 65, 5, 8
 CONTROL "Gain", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 351, 29, 18, 8
 CONTROL "", VEL_LOOP_GAIN_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 353, 11, 28, 10
 CONTROL "", BREAK_VEL_1_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 38, 28, 10
 CONTROL "", BREAK_GAIN_1_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 351, 38, 18, 10
 CONTROL "", BREAK_VEL_2_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 50, 28, 10
 CONTROL "", BREAK_GAIN_2_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 351, 50, 18, 10
 CONTROL "", BREAK_VEL_3_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 62, 28, 10
 CONTROL "", BREAK_GAIN_3_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 351, 62, 18, 10
 CONTROL "", FT_STOP_POS_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 353, 0, 28, 10
 CONTROL "", VAC_1_RADIO, "Button", BS_AUTORADIOBUTTON, 284, 18, 9, 8
 CONTROL "", VAC_2_RADIO, "Button", BS_AUTORADIOBUTTON, 284, 29, 9, 8
 CONTROL "", VAC_3_RADIO, "Button", BS_AUTORADIOBUTTON, 284, 40, 9, 8
 CONTROL "", VAC_4_RADIO, "Button", BS_AUTORADIOBUTTON, 284, 50, 9, 8
 CONTROL "", VAC_5_RADIO, "Button", BS_AUTORADIOBUTTON, 284, 62, 9, 8
 CONTROL "Vacuum Switch", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 274, 0, 28, 16
}

PRESSURE_CONTROL_DIALOG DIALOG 91, 0, 370, 80
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
{
 CONTROL "Pressure Loop", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 238, 12, 116, 22, 0
 CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 68, 43, 26, 1
 CONTROL "Accel (MS)", IDC_STATIC, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 12, 25, 22, 17
 CONTROL "Pressure", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 39, 34, 27, 8
 CONTROL "Ending Time (MS)", IDC_STATIC, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 68, 17, 25, 26
 CONTROL "", PACCEL_1_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 43, 27, 10
 CONTROL "", PRES_1_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 39, 43, 27, 10
 CONTROL "", END_TIME_1_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 43, 27, 10
 CONTROL "", PACCEL_2_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 53, 27, 10
 CONTROL "", PRES_2_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 39, 53, 27, 10
 CONTROL "", END_TIME_2_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 53, 27, 10
 CONTROL "", PACCEL_3_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 63, 27, 10
 CONTROL "", PRES_3_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 39, 63, 27, 10
 CONTROL "", END_TIME_3_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 63, 27, 10
 CONTROL "1.", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 45, 8, 10
 CONTROL "2.", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 55, 8, 10
 CONTROL "3.", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 65, 8, 10
 CONTROL "End Of Shot Setpoints", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 237, 37, 130, 41
 CONTROL "Minimum Stroke Length", IDC_STATIC, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 246, 48, 75, 8
 CONTROL "Velocity Setpoint:", IDC_STATIC, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 252, 57, 70, 8
 CONTROL "Pressure Setpoint:", IDC_STATIC, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 252, 67, 70, 8
 CONTROL "Analog Pressure Sensor", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 126, 12, 81, 8
 CONTROL "", ST_MIN_STROKE_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 45, 32, 10
 CONTROL "", ST_EOS_VELOCITY_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 55, 32, 10
 CONTROL "", ST_EOS_PRESSURE_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 325, 65, 32, 10
 CONTROL "", ST_PRES_SENSOR_CBOX, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 103, 22, 125, 88
 CONTROL "Arm Intensifier", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 38, 121, 36
 CONTROL "Limit Switch Number", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 108, 61, 65, 10
 CONTROL "", INTENS_ARM_LS_EBOX, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 175, 60, 19, 10
 CONTROL "SureTrak Pressure Control Settings", IDC_STATIC, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 131, 2, 112, 8
 CONTROL "", INTENS_ARM_PRES_EBOX, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 175, 48, 40, 10
 CONTROL "Initial Pressure", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 126, 49, 46, 10
 CONTROL "2", PRES_LOOP_GAIN_EBOX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 263, 21, 20, 10, 0
 CONTROL "16", PRES_LOOP_TIME_EBOX, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 310, 21, 20, 10, 0
 CONTROL "Gain", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 243, 21, 20, 8, 0
 CONTROL "Time", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 290, 21, 20, 8, 0
 CONTROL "MS", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 334, 21, 12, 8, 0
 CONTROL "UpDown1", IDC_MSCTLS_UPDOWN1, "msctls_updown32", WS_CHILD | WS_VISIBLE, 192, 60, 9, 10, 0
}

GENERAL_PURPOSE_VARIABLE_DIALOG DIALOG 68, 0, 406, 99
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
{
 CONTROL "Variable Type", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 172,61,210,22
 CONTROL "Board Variable = [ ( Value - S ) * M ] / D + A", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 200,25,142,10
 CONTROL "Subtrahend", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 187,36,37,8
 CONTROL "Multiplier", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 233,36,37,8
 CONTROL "Divisor", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 276,36,27,8
 CONTROL "Adder", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 321,36,24,8
 CONTROL "Variable", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 25,9,30,7
 CONTROL "Description:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 58,26,40,8
 CONTROL "Value:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 58,52,28,8
 CONTROL "", VARIABLE_NUMBER_LISTBOX, "LISTBOX", LBS_NOTIFY | LBS_SORT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27,20,20,75
 CONTROL "", SUB_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186,45,42,12
 CONTROL "", MUL_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 230,45,42,12
 CONTROL "", DIV_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 274,45,42,12
 CONTROL "", ADD_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 318,45,42,12
 CONTROL "Position", POS_RADIO, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 177,69,37,12
 CONTROL "Velocity", VEL_RADIO, "Button", BS_AUTORADIOBUTTON, 303,69,
38,12
 CONTROL "Voltage", VOLT_RADIO, "Button", BS_AUTORADIOBUTTON, 218,69,
38,12
 CONTROL "Pressure", PRES_RADIO, "Button", BS_AUTORADIOBUTTON, 259,69,
40,12
 CONTROL "Other", OTHER_RADIO, "Button", BS_AUTORADIOBUTTON, 345,69,
35,12
 CONTROL "", GPV_DESC_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 58,35,104,12
 CONTROL "", VALUE_EBOX, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 58,60,48,12
 CONTROL "General Purpose Variables", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 165,3,84,8
}

STTEST_DIALOG DIALOG 0, 0, 504, 80
STYLE WS_POPUP | WS_VISIBLE | WS_THICKFRAME
FONT 8, "MS Sans Serif"
{
 CONTROL "Velocity Control", VELOCITY_CONTROL_BUTTON, "BUTTON", BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 1,3,35,20
 CONTROL "GP Vars", GP_VARIABLE_BUTTON, "BUTTON", BS_PUSHBUTTON | BS_CENTER | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 1, 34, 35, 15
 CONTROL "Save Changes", SAVE_CHANGES_BUTTON, "BUTTON", BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 1, 59, 35, 20
}


HOT_KEYS ACCELERATORS MOVEABLE PURE 
BEGIN
    VK_TAB,         TAB_KEY,                VIRTKEY 
    VK_TAB,         SHIFT_TAB_KEY,          VIRTKEY, SHIFT
END


STRINGTABLE DISCARDABLE 
BEGIN
    VELOCITY_CONTROL_TAB_STRING "Velocity Control"
    PRESSURE_CONTROL_TAB_STRING "Pressure Control"
    GP_VARIABLE_TAB_STRING  "General Purpose Variables"
END

