#include "windows.h"
#include "testres.h"

EXPORT_TO_CLIPBOARD_DIALOG DIALOG 0, 0, 398, 250
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Export/Delete"
FONT 8, "MS Sans Serif"
{
 CONTROL "Tab1",        EXPORT_TAB_CONTROL, "SysTabControl32", WS_TABSTOP, 3, 2, 306, 222
 CONTROL "ListBox1",    EXPORT_LISTBOX,     "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 34, 264, 185, 0
 CONTROL "Set &Start",  SET_START_BUTTON,   "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318,80,50,14
 CONTROL "Set &End",    SET_END_BUTTON,     "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318,137,50,14
 CONTROL "Select &All", SELECT_ALL_BUTTON,  "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 316, 208, 50, 14
 CONTROL "Export to Windows &Clipboard", EXPORT_BUTTON, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 230, 102, 14
 CONTROL "&Delete",     DELETE_BUTTON,      "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 230, 57, 14
 CONTROL "Static",      START_CHOICE_TBOX,  "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 317,104,70,8
 CONTROL "Static",      END_CHOICE_TBOX,    "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 317,162,70,8
}

STRINGTABLE DISCARDABLE
BEGIN
    PARAMETER_TAB_STRING     "Parameter"
    DOWNTIME_TAB_STRING      "Downtime"
    ALARM_SUMMARY_TAB_STRING "Alarm Summary"
END

