#include "windows.h"
#include "ugtest.h"

MAINMENU MENU
{
 POPUP "&File"
 {
  MENUITEM "&Show Grid", 113
  MENUITEM "&Print Grid", 114
  MENUITEM "E&xit", 108
 }

}

EDIT_DOWN_DIALOG DIALOG 0, 0, 375, 206
STYLE DS_3DLOOK | WS_POPUP
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 180, 64, 12, 0
 CONTROL "", GRID_ID, "static", WS_SIZEBOX | SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 12, 13, 340, 160, 0
 CONTROL "Delete", DELETE_BUTTON, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 180, 50, 14, 0
 CONTROL "Insert", INSERT_BUTTON, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 184, 50, 14, 0
}

